@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");
:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
  --orange-color : #915d10;
  --Playfair-font: "Playfair Display SC", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body {
  background: #100e0f;
  /* background: linear-gradient(to bottom left , #100e0f , #000 , #111 , var(--orange-color)); */
  background-attachment: fixed;
}
nav{
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    position: fixed;
    z-index: 1;
    transition: 0.4s ease;
}
nav.scroll-bottom{
    padding: 20px 20px;
    position: fixed;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    list-style: none;
}
nav ul li a  ,nav h3{
    color: #fff;
    text-decoration: none;
    position: relative;
    font-weight: 530;
}
nav h3{
    line-height: 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
}
nav ul li a::after{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--main-color );
    margin-top: 5px;
    transition: 0.4s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav ul li a:hover , nav ul li a:focus{
    color: var(--main-color);
}
nav ul li a:hover::after , nav ul li a:focus::after{
    width: 45px;
}

header{
    height: 100vh;
    width: 100%;
    background: url(Images/pexels-nao-triponez-129207.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items: center;
}
header .title-header{
    font-family: var(--Playfair-font);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:150px;
    opacity: 0;
    transition: 2s ease;
}
header .title-header.open{
margin-top: 0;
opacity: 1;
}
header .title-header h1{
    font-size: 80px;
}
.word-yellow{
    color: var(--main-color);
}
header .title-header h3{
    font-size: 50px;
}
.btn-web{
    width: 120px;
    padding: 10px 0;
    cursor: pointer;
    background: var(--main-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    align-self: center;
    transition: 0.4s ease;
}
.btn-web:hover{
    background: #915d10;
    color: white;
}

.sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
   
}
.title{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;

}
.title h1 , .title p {
      font-size:17px;
      font-family: sans-serif;
}
.title h1 {
    display: flex;
    align-items: center;
    font-size: 50px;
}
.title h1::before{
    content: "";
    display: inline-block;
    width: 100px;
    height: 3px;
    background: white;
    margin-right: 8px;

}
.title button{
    align-self: flex-start;
}
.Perfect-Place .image{
    width:35%;
    height: 450px;
}
.Perfect-Place .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.Perfect-Place .title{
    width: 40%;
}
.Perfect-Place .title h1::before{
    content: '';
    width: 0;
    height: 0;
}
.Perfect-Place .title h1{
    font-family: var(--Playfair-font);
    width: 90%;
}


.products-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.products-box .title h1::before{
    display: none;
}
.products-box .title {
    padding: 80px;
}
.products-box .title h1{
    font-family: var(--Playfair-font);
}
.box-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
 
}
.products-box .box-cards .card{
    width: 25%;
    height: 450px;
    border-radius: 10px;
    border-color: var(--orange-color);
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.products-box .box-cards .card h3 , .products-box .box-cards .card p{
    color: white;
}
.products-box .box-cards .card h3{
    font-size: 30px;
}
.products-box .box-cards .card .types{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
.products-box .box-cards .card legend img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.contact{
    margin-top: 50px;
}
.contact hr{
    border: 1px solid var(--orange-color);
    width: 50%;
    margin: 100px 0;
}
.contact .box-cards .card-contact{
    width: 30%;
    height: auto;
}
.card-contact{
    color: white;
}
.card-contact h1{
font-size: 30px;
margin-bottom: 25px;
}
.card-contact p{
    line-height: 25px;
}
.me{
    color: white;
    padding-bottom:20px;
}
.me a{
    color: var(--main-color);
    text-decoration: none;
}